head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Boleta &ldquo;&rdquo;
  style.
    body { padding: 0; box-sizing: border-box; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; width: 780px; margin: auto; margin-top: 4px; }
    p, h2, h3, h4{ margin: 0; padding: 0; }
    :root {
    --font-s-small: 8pt;
    --font-s-normal: 10pt;
    --font-s-mid: 12pt;
    --font-s-large: 14pt;
    /* Kerning */
    --ltr-spc-200: 0.2em;
    --ltr-spc-100: 0.1em;
    --ltr-spc-020: 0.02em;
    --ltr-spc-025: 0.025em;
    }
    /*Header*/
    #header {
    margin-bottom: 0.6rem;
    margin-right: 5.5rem;
    margin-left: 2.6rem;
    padding: 1px;
    text-align: center;
    }
    /*Fin Header*/
    /*Estilos membrete --------------------------------- background: rgb(13, 13, 59); }*/
    /* LogoImg  inline block both*/
    .LogoImg { margin-right: 1rem; display: inline-block; }
    .content-inline {display: inline-block;}
    /*Estilos membreteTop*/
    .membreteTop, .membreteCenter{ margin-bottom: 0.4rem; }
    .membreteTopTitle { font-size:  11px; }
    /*Estilos membreteCenter*/
    .membreteCenterTitle, .membreteCenterParrafo, .membreteCenterBold { font-size: 11px; }
    .membreteCenterBold { font-weight: bold;}
    .msg { padding: 2px 0px; }
    /*Estilos membreteBottom*/
    .membreteBottom { margin-top: -.5rem;}
    .membreteBottomParrafos { font-size: 10px; display: inline;}
    .separacion { margin-left: 17px; display: inline;}
    /*Estilos cabecera de datos ---------------------*/
    .contentCabeceraDatos{ width: 710px !important; margin: auto; border: 1px solid #000; margin-left: 3rem !important;}
    /*Estilos cabecera Estudiante*/
    .cabeceraDatosEstudiante, .cabeceraDatosInfo, .cabeceraDatosTextArea { border-bottom: 1px solid #000;;}
    .borde { border-right: 1px solid #000 }
    .cabeceraEstudianteParrafo, .cabeceraInfoTitle, .cabeceraTextAreaDescrip { padding: 2px 7px; font-size: 11px; display: inline-block; text-align: justify;}
    .estudiante { font-size: 12px; }
    .cabeceraInfoTitle { font-size: 12px; }
    .cabeceraDatosTextArea { border-bottom: none; }
    .contentCabeceraLiterales { width: 530px;  margin: auto;
    font-weight: bold; display: flex; justify-content: space-evenly;
    }
    .CabeceraLiterales, .literalesTop  { font-size: 14px;}
    /* Indicadores docentes esitlos */
    .contentIndicadorDocentes { width: 710px; margin: auto; border: 1px solid #000; margin-top: 0.7rem; margin-bottom: 19rem; margin-left: 3rem;}  /*margin abajo de 17rem, para que tire el contenido sobrante para abajo, genere una nueva hoja y no vaya a mostrarse cortado.  height: 657px;*/
    .cabeceraAreas { display: flex; }
    .cabeceraAreaTitle, .cabeceraLiterales, .cabeceraSecondModel{ width: 600px; border-bottom: 1px solid #000;  border-right: 1px solid #000; display: flex;justify-content: center; align-items: center; padding: 1px 0;}

    .cabeceraAreaTitle{ font-size: 15px; }

    .cabeceraLiterales { width: 36px; font-size: 13px; }
    .cabeceraSecondModel { width: 36px; font-size: 13px; overflow: hidden; }

    .no-borde-right { border-right: none; }
    .no-borde-bottom { border-bottom:none; }

    /* cuerpo del contenido  */
    .contenidoIndicadores { display: flex; }
    .rotateParrafo { width: 20px; border-right: 1px solid #000;  border-bottom: 1px solid #000;}
    .rotateParrafo > p{ font-size: 12px; transform: rotate(-90deg); margin-top: 600%; font-weight: bold; }
    .contentDescripcion { display: flex; border-bottom: 1px solid #000; }
    .descripcion, .descHojaCompleta {  width: 570px;  border-right: 1px solid #000; font-size: 11.4px; text-align: justify; padding: 1px 4px; }
    .descHojaCompleta { width: 568px; }
    /*Indicador experimento cientifico*/
    .descripcionexperimentoC, .literalesExperimentoC  { display: flex; align-items: center; }
    .literalesExperimentoC { width: 36.4px; border-left: 1px solid #000; justify-content: center;}
    .descripcionexperimentoC { border-left: 1px solid #000;  margin-left: 20px; width: 578px; font-size: 11px; text-align: justify; padding: 1px 4px; }
    /* Firmas del personal */
    #footer { width: 620px; margin: auto; display: flex !important; justify-content: space-between !important; margin-left: 6rem; } /*margin-top: 2.8rem;*/
    .firmaModel, .firmaCenterDocente, .firmaCenterPadre {
    font-size: 13px; width: 170px; text-align: center
    }
    .bajar { margin-top: 1.1rem; }/* dejar mas espacio superior en las firmas laterales. */
    .top { border-top: 1px solid #000; }
    .firmaMargin { margin-top: 0.5rem; text-align: center;}
    .firmaCenterDocente { margin-bottom: 1.7rem;}
    /*Estilos segundo modelo*/
    .SecondModel {  margin-left: 2.6rem;}
    .apreciacion { width: 700px; margin: auto; text-align: justify; height: 70px;}
    .msg1 { font-size: 13px; }
    .msg2 { font-size: 13.6px; margin-top: 1rem; }
    /*Cuerpo del segundo modelo*/
    .contentEspecialidades { width: 720px; margin: auto; margin-bottom: 27rem; height: 650px;}
    .titleEspecialidades { text-align: center; border: 1px solid #000; font-size: 23px;}
    .nombreEspecialidad { display: flex; }
    /*Imagen estrealla especialidades  border: 1px solid #000; */

    .contentImgStartStudent{ width: 720px; margin: 0.3rem auto; display: flex; justify-content: flex-end !important; padding: 3px 0; margin-top: -1rem;}

    .imgStartStudent { width: 80px; height: 80px;}

    .area { padding-left: 4px; width: 65px; border-right: 1px solid #000;  border-left: 1px solid #000; font-size: 15px; font-weight: bold; }

    .tipo { margin-left: 1rem;  font-size: 15px; font-weight: bold; border-right: 1px solid #000; width: calc(100% - 65px);}
    .descIndEspecialista { padding: 3px 4px; text-align: justify; font-size: 11.6px; border:  1px solid #000;}

    /*Modificaciones ultimas generales*/
    #IndHojaCompleta { height: 800px !important; border: none; }
    .putBorde { border-top: 1px solid #000; border-left: 1px solid #000;  }
    .bordeLeft {border-left: 1px solid #000; }
    .descHojaLiteral{ width: 36px; border-right: 1px solid #000; overflow: hidden !important; text-align: center;}
    .prueba{ width: 35.9px }



header#header
  img.LogoImg(src='http://localhost:4000/image')
  .content-inline
    .membreteTop
      h2.membreteTopTitle REP&Uacute;BLICA BOLIVARIANA DE VENEZUELA
      h2.membreteTopTitle MINISTERIO DEL PODER POPULAR PARA LA EDUCACI&Oacute;N
    .membreteCenter
      h2.membreteCenterTitle UNIDAD EDUCATIVA COLEGIO &ldquo;REP&Uacute;BLICA DE VENEZUELA&rdquo; 
      h2.membreteCenterTitle VALERA, ESTADO TRUJILLO
      p.membreteCenterParrafo.msg &ldquo;Mi actuaci&oacute;n y avance escolar&rdquo;
      p.membreteCenterBold A&ntilde;o Escolar #{anioEscolar}
    .membreteBottom
      p.membreteBottomParrafos
        b SEGUNDO MOMENTO. &nbsp;
        b Desde: #{fechaInicio} 
      p.membreteBottomParrafos.separacion
        b Hasta: #{fechaFin}
.contentCabeceraDatos
  .cabeceraDatosEstudiante
    p.cabeceraEstudianteParrafo.borde
      b ESTUDIANTE
    p.cabeceraEstudianteParrafo
      b.estudiante #{infoStudent_Docente.nombres}
  .cabeceraDatosInfo
    p.cabeceraInfoTitle.borde
      b GRADO: &nbsp;#{infoStudent_Docente.grado}
    p.cabeceraInfoTitle.borde
      b SECCI&Oacute;N: &nbsp;&ldquo;#{infoStudent_Docente.seccion}&rdquo;
    p.cabeceraInfoTitle
      b DOCENTE: &nbsp; #{infoStudent_Docente.docente}
  .cabeceraDatosTextArea
    p.cabeceraTextAreaDescrip
      b SER Y CONVIVIR:
      |  #{serYConvivir}
.contentCabeceraLiterales
  p.literalesTop LEYENDA: &nbsp; &nbsp;E= EXCELENTE
  p.literalesTop B= BIEN
  p.literalesTop RN= REQUIERE NIVELACI&Oacute;N.


//-  Indicadores docentes 29 indicadores max a la hoja principal
if indHojaPrincipal[0].length >= 1
  .contentIndicadorDocentes
      each general in indHojaPrincipal[0]
        .cabeceraAreas
          h3.cabeceraAreaTitle &Aacute;REA: #{general.area}
          h3.cabeceraLiterales E
          h3.cabeceraLiterales B
          h3.cabeceraLiterales.no-borde-right RN
        .contenidoIndicadores
          .rotateParrafo
              p INDICADORES
          .allIndicadores
              each item in general.indicadores
                .contentDescripcion
                      p.descripcion
                          | #{item.indicador}
                      if item.literal === 'E'
                          span.cabeceraLiterales.no-borde-bottom &check;
                          span.cabeceraLiterales.no-borde-bottom  
                          span.cabeceraLiterales.no-borde-bottom
                      else if item.literal === 'B'    
                          span.cabeceraLiterales.no-borde-bottom 
                          span.cabeceraLiterales.no-borde-bottom  &check;
                          span.cabeceraLiterales.no-borde-bottom
                      else 
                          span.cabeceraLiterales.no-borde-bottom 
                          span.cabeceraLiterales.no-borde-bottom  
                          span.cabeceraLiterales.no-borde-bottom &check;
      if indHojaPrincipal[1].length === 1
          .cabeceraAreas
              h3.cabeceraAreaTitle &Aacute;REA: #{indHojaPrincipal[1][0].area}
              h3.cabeceraLiterales E
              h3.cabeceraLiterales B
              h3.cabeceraLiterales.no-borde-right RN
          each item in indHojaPrincipal[1][0].indicadores 
              .contentDescripcion
                  p.descripcionexperimentoC    
                      |  #{item.indicador}   
                  if item.literal === 'E'     
                      span.literalesExperimentoC.no-borde-bottom.no-borde-right  &check;
                      span.literalesExperimentoC.no-borde-bottom
                      span.literalesExperimentoC.no-borde-bottom
                  else if item.literal === 'B'     
                      span.literalesExperimentoC.no-borde-bottom.no-borde-right  
                      span.literalesExperimentoC.no-borde-bottom &check;
                      span.literalesExperimentoC.no-borde-bottom
                  else 
                      span.literalesExperimentoC.no-borde-bottom.no-borde-right  
                      span.literalesExperimentoC.no-borde-bottom
                      span.literalesExperimentoC.no-borde-bottom  &check;

          



//- segundo modelo hoja max 34 indicadores 
if tresIndByHoja_1.length >= 1
  #IndHojaCompleta.contentIndicadorDocentes
      each hojaUno in tresIndByHoja_1
          .cabeceraAreas.putBorde
              h3.cabeceraAreaTitle &Aacute;REA: #{hojaUno.area}
              h3.cabeceraSecondModel E
              h3.cabeceraSecondModel B
              h3.cabeceraSecondModel.prueba RN
          .contenidoIndicadores
              .rotateParrafo.bordeLeft
                  p INDICADORES
              .allIndicadores
                  each value in hojaUno.indicadores
                      .contentDescripcion
                          p.descHojaCompleta
                            | #{value.indicador}
                          if value.literal === 'E'
                              span.cabeceraLiterales.no-borde-bottom &check;
                              span.cabeceraLiterales.no-borde-bottom  
                              span.cabeceraLiterales.no-borde-bottom
                          else if value.literal === 'B'    
                              span.cabeceraLiterales.no-borde-bottom 
                              span.cabeceraLiterales.no-borde-bottom  &check;
                              span.cabeceraLiterales.no-borde-bottom
                          else 
                              span.cabeceraLiterales.no-borde-bottom 
                              span.cabeceraLiterales.no-borde-bottom  
                              span.cabeceraLiterales.no-borde-bottom &check;


if tresIndByHoja_2.length >= 1
    #IndHojaCompleta.contentIndicadorDocentes
        each hojaDos in tresIndByHoja_2
            .cabeceraAreas.putBorde
                h3.cabeceraAreaTitle &Aacute;REA: #{hojaDos.area}
                h3.cabeceraSecondModel E
                h3.cabeceraSecondModel B
                h3.cabeceraSecondModel.prueba RN
            .contenidoIndicadores
                .rotateParrafo.bordeLeft
                    p INDICADORES
                .allIndicadores
                    each value in hojaDos.indicadores 
                        .contentDescripcion
                            p.descHojaCompleta
                              | #{value.indicador}
                            if value.literal === 'E'
                                span.cabeceraLiterales.no-borde-bottom &check;
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom
                            else if value.literal === 'B'    
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  &check;
                                span.cabeceraLiterales.no-borde-bottom
                            else 
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom &check;


if dosIndLargosByHoja_1.length >= 1
    #IndHojaCompleta.contentIndicadorDocentes
        each firstPage in dosIndLargosByHoja_1
            .cabeceraAreas.putBorde
                h3.cabeceraAreaTitle &Aacute;REA: #{firstPage.area}
                h3.cabeceraSecondModel E
                h3.cabeceraSecondModel B
                h3.cabeceraSecondModel.prueba RN
            .contenidoIndicadores
                .rotateParrafo.bordeLeft
                    p INDICADORES
                .allIndicadores
                    each value in firstPage.indicadores 
                        .contentDescripcion
                            p.descHojaCompleta
                              | #{value.indicador}
                            if value.literal === 'E'
                                span.cabeceraLiterales.no-borde-bottom &check;
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom
                            else if value.literal === 'B'    
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  &check;
                                span.cabeceraLiterales.no-borde-bottom
                            else 
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom &check;
                      
       
if dosIndLargosByHoja_2.length >= 1
    #IndHojaCompleta.contentIndicadorDocentes
        each secondPage in dosIndLargosByHoja_2
            .cabeceraAreas.putBorde
                h3.cabeceraAreaTitle &Aacute;REA: #{secondPage.area}
                h3.cabeceraSecondModel E
                h3.cabeceraSecondModel B
                h3.cabeceraSecondModel.prueba RN
            .contenidoIndicadores
                .rotateParrafo.bordeLeft
                    p INDICADORES
                .allIndicadores
                    each value in secondPage.indicadores 
                        .contentDescripcion
                            p.descHojaCompleta
                              | #{value.indicador}
                            if value.literal === 'E'
                                span.cabeceraLiterales.no-borde-bottom &check;
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom
                            else if value.literal === 'B'    
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  &check;
                                span.cabeceraLiterales.no-borde-bottom
                            else 
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom &check;
                      
  
if dosIndLargosByHoja_3.length >= 1
    #IndHojaCompleta.contentIndicadorDocentes
        each threePage in dosIndLargosByHoja_3
            .cabeceraAreas.putBorde
                h3.cabeceraAreaTitle &Aacute;REA: #{threePage.area}
                h3.cabeceraSecondModel E
                h3.cabeceraSecondModel B
                h3.cabeceraSecondModel.prueba RN
            .contenidoIndicadores
                .rotateParrafo.bordeLeft
                    p INDICADORES
                .allIndicadores
                    each value in threePage.indicadores 
                        .contentDescripcion
                            p.descHojaCompleta
                              | #{value.indicador}
                            if value.literal === 'E'
                                span.cabeceraLiterales.no-borde-bottom &check;
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom
                            else if value.literal === 'B'    
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  &check;
                                span.cabeceraLiterales.no-borde-bottom
                            else 
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom &check;
     

//- Segundo modelo 
.SecondModel
  .apreciacion
    p.msg1
      b Apreciaci&oacute;n de la docente:
      |  seguir manteniendo comunicaci&oacute;n regular entre el hogar y la escuela.
    p.msg2
      | &ldquo;Estoy orgullosa de ti y de tus logros, no olvides que las excelentes personas como t&uacute; germinan en el coraz&oacute;n, crecen d&iacute;a a d&iacute;a en el alma y pase lo que pase jam&aacute;s se olvidan.&rdquo;
  .contentImgStartStudent
    img.imgStartStudent(src='http://localhost:4000/insignia' alt='imagenBoleta')
  .contentEspecialidades
    h2.titleEspecialidades ESPECIALIDADES
    each value in indEspecialistas_1
        .cuerpoDescripcion
            .nombreEspecialidad
                p.area &Aacute;REA
                p.tipo #{value.area}
            .contentDesc
                p.descIndEspecialista
                  | #{value.indicador}


if indEspecialistas_2.length >= 1
    .SecondModel
      .apreciacion
          p.msg1
            b Apreciaci&oacute;n de la docente:
            |  seguir manteniendo comunicaci&oacute;n regular entre el hogar y la escuela.
          p.msg2
            | &ldquo;Estoy orgullosa de ti y de tus logros, no olvides que las excelentes personas como t&uacute; germinan en el coraz&oacute;n, crecen d&iacute;a a d&iacute;a en el alma y pase lo que pase jam&aacute;s se olvidan.&rdquo;
      .contentImgStartStudent
          img.imgStartStudent(src='http://localhost:4000/insignia' alt='imagenBoleta')
      .contentEspecialidades
          h2.titleEspecialidades ESPECIALIDADES
          each value in resp.indEspecialistas_2
              .cuerpoDescripcion
                  .nombreEspecialidad
                      p.area &Aacute;REA
                      p.tipo #{value.area}
                  .contentDesc
                      p.descIndEspecialista
                        | #{value.indicador}

    //- .cuerpoDescripcion
    //-   .nombreEspecialidad
    //-     p.area &Aacute;REA
    //-     p.tipo EDUCACI&Oacute;N F&Iacute;SICA, DEPORTE Y RECREACI&Oacute;N
    //-   .contentDesc
    //-     p.descIndEspecialista
    //-       | Realiz&oacute; el trabajo del f&uacute;tbol, cumpliendo con todas las pautas indicadas, adem&aacute;s aplic&oacute; sus habilidades con ejercicios sencillos de pase, recepci&oacute;n y conducci&oacute;n.


//-  Firmas del personal
#footer
  .firmaModel.bajar
    p.firmaBorde.top #{directora}
    p.firmaMargin Directora
  .firmaCenter
    p.firmaCenterDocente.top Docente
    p.firmaCenterPadre.top Representante
  .firmaModel.bajar
    p.firmaBorde.top
      | #{coordinadora}
    p.firmaMargin
      | Coordinadora Pedag&oacute;gica