head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Boleta &ldquo;&rdquo;
  style.
    body { padding: 0; box-sizing: border-box; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; width: 780px; margin: auto; margin-top: 4px; }
    p, h2, h3, h4{ margin: 0; padding: 0; }
    :root {
    --font-s-small: 8pt;
    --font-s-normal: 10pt;
    --font-s-mid: 12pt;
    --font-s-large: 14pt;
    /* Kerning */
    --ltr-spc-200: 0.2em;
    --ltr-spc-100: 0.1em;
    --ltr-spc-020: 0.02em;
    --ltr-spc-025: 0.025em;
    }
    /*Header*/
    #header {
    margin-bottom: 0.6rem;
    margin-right: 5.5rem;
    margin-left: 2.6rem;
    padding: 1px;
    text-align: center;
    }
    /*Fin Header*/
    /*Estilos membrete --------------------------------- background: rgb(13, 13, 59); }*/
    /* LogoImg  inline block both*/
    .LogoImg { margin-right: 1rem; display: inline-block; }
    .content-inline {display: inline-block;}
    /*Estilos membreteTop*/
    .membreteTop, .membreteCenter{ margin-bottom: 0.4rem; }
    .membreteTopTitle { font-size:  11px; }
    /*Estilos membreteCenter*/
    .membreteCenterTitle, .membreteCenterParrafo, .membreteCenterBold { font-size: 11px; }
    .membreteCenterBold { font-weight: bold;}
    .msg { padding: 2px 0px; }
    /*Estilos membreteBottom*/
    .membreteBottom { margin-top: -.5rem;}
    .membreteBottomParrafos { font-size: 10px; display: inline;}
    .separacion { margin-left: 17px; display: inline;}
    /*Estilos cabecera de datos ---------------------*/
    .contentCabeceraDatos{ width: 710px !important; margin: auto; border: 1px solid #000; margin-left: 3rem !important;}
    /*Estilos cabecera Estudiante*/
    .cabeceraDatosEstudiante, .cabeceraDatosInfo, .cabeceraDatosTextArea { border-bottom: 1px solid #000;;}
    .borde { border-right: 1px solid #000 }
    .cabeceraEstudianteParrafo, .cabeceraInfoTitle, .cabeceraTextAreaDescrip { padding: 2px 7px; font-size: 11px; display: inline-block; text-align: justify;}
    .estudiante { font-size: 12px; }
    .cabeceraInfoTitle { font-size: 12px; }
    .cabeceraDatosTextArea { border-bottom: none; }
    .contentCabeceraLiterales { width: 530px;  margin: auto;
    font-weight: bold; display: flex; justify-content: space-evenly;
    }
    .CabeceraLiterales, .literalesTop  { font-size: 14px;}
    /* Indicadores docentes esitlos */
    .contentIndicadorDocentes { width: 710px; margin: auto; border: 1px solid #000; margin-top: 0.7rem; margin-bottom: 19rem; margin-left: 3rem;}  /*margin abajo de 17rem, para que tire el contenido sobrante para abajo, genere una nueva hoja y no vaya a mostrarse cortado.  height: 657px;*/
    .cabeceraAreas { display: flex; }
    .cabeceraAreaTitle, .cabeceraLiterales, .cabeceraSecondModel{ width: 600px; border-bottom: 1px solid #000;  border-right: 1px solid #000; display: flex;justify-content: center; align-items: center; padding: 1px 0;}

    .cabeceraAreaTitle{ font-size: 15px; }

    .cabeceraLiterales { width: 36px; font-size: 13px; }
    .cabeceraSecondModel { width: 36px; font-size: 13px; overflow: hidden; }

    .no-borde-right { border-right: none; }
    .no-borde-bottom { border-bottom:none; }

    /* cuerpo del contenido  */
    .contenidoIndicadores { display: flex; }
    .rotateParrafo { width: 20px; border-right: 1px solid #000;  border-bottom: 1px solid #000;}
    .rotateParrafo > p{ font-size: 12px; transform: rotate(-90deg); margin-top: 600%; font-weight: bold; }
    .contentDescripcion { display: flex; border-bottom: 1px solid #000; }
    .descripcion, .descHojaCompleta {  width: 570px;  border-right: 1px solid #000; font-size: 11.4px; text-align: justify; padding: 1px 4px; }
    .descHojaCompleta { width: 568px; }
    /*Indicador experimento cientifico*/
    .descripcionexperimentoC, .literalesExperimentoC  { display: flex; align-items: center; }
    .literalesExperimentoC { width: 36.4px; border-left: 1px solid #000; justify-content: center;}
    .descripcionexperimentoC { border-left: 1px solid #000;  margin-left: 20px; width: 578px; font-size: 11px; text-align: justify; padding: 1px 4px; }
    /* Firmas del personal */
    #footer { width: 620px; margin: auto; display: flex !important; justify-content: space-between !important; margin-left: 6rem; } /*margin-top: 2.8rem;*/
    .firmaModel, .firmaCenterDocente, .firmaCenterPadre {
    font-size: 13px; width: 170px; text-align: center
    }
    .bajar { margin-top: 1.1rem; }/* dejar mas espacio superior en las firmas laterales. */
    .top { border-top: 1px solid #000; }
    .firmaMargin { margin-top: 0.5rem; text-align: center;}
    .firmaCenterDocente { margin-bottom: 1.7rem;}
    /*Estilos segundo modelo*/
    .SecondModel {  margin-left: 2.6rem;}
    .apreciacion { width: 700px; margin: auto; text-align: justify; height: 70px;}
    .msg1 { font-size: 13px; }
    .msg2 { font-size: 13.6px; margin-top: 1rem; }
    /*Cuerpo del segundo modelo*/
    .contentEspecialidades { width: 720px; margin: auto; margin-bottom: 27rem; height: 650px;}
    .titleEspecialidades { text-align: center; border: 1px solid #000; font-size: 23px;}
    .nombreEspecialidad { display: flex; }
    /*Imagen estrealla especialidades  border: 1px solid #000; */

    .contentImgStartStudent{ width: 720px; margin: 0.3rem auto; display: flex; justify-content: flex-end !important; padding: 3px 0; margin-top: -1rem;}

    .imgStartStudent { width: 80px; height: 80px;}

    .area { padding-left: 4px; width: 65px; border-right: 1px solid #000;  border-left: 1px solid #000; font-size: 15px; font-weight: bold; }

    .tipo { margin-left: 1rem;  font-size: 15px; font-weight: bold; border-right: 1px solid #000; width: calc(100% - 65px);}
    .descIndEspecialista { padding: 3px 4px; text-align: justify; font-size: 11.6px; border:  1px solid #000;}

    /*Modificaciones ultimas generales*/
    #IndHojaCompleta { height: 800px !important; border: none; }
    .putBorde { border-top: 1px solid #000; border-left: 1px solid #000;  }
    .bordeLeft {border-left: 1px solid #000; }
    .descHojaLiteral{ width: 36px; border-right: 1px solid #000; overflow: hidden !important; text-align: center;}
    .prueba{ width: 35.9px }



header#header
  img.LogoImg(src='http://localhost:4000/image')
  .content-inline
    .membreteTop
      h2.membreteTopTitle REP&Uacute;BLICA BOLIVARIANA DE VENEZUELA
      h2.membreteTopTitle MINISTERIO DEL PODER POPULAR PARA LA EDUCACI&Oacute;N
    .membreteCenter
      h2.membreteCenterTitle UNIDAD EDUCATIVA COLEGIO &ldquo;REP&Uacute;BLICA DE VENEZUELA&rdquo; 
      h2.membreteCenterTitle VALERA, ESTADO TRUJILLO
      p.membreteCenterParrafo.msg &ldquo;Mi actuaci&oacute;n y avance escolar&rdquo;
      p.membreteCenterBold A&ntilde;o Escolar 2020-2021
    .membreteBottom
      p.membreteBottomParrafos
        b SEGUNDO MOMENTO. &nbsp;
        b Desde: 07/01/2021 
      p.membreteBottomParrafos.separacion
        b Hasta: 26/03/2.021
.contentCabeceraDatos
  .cabeceraDatosEstudiante
    p.cabeceraEstudianteParrafo.borde
      b ESTUDIANTE
    p.cabeceraEstudianteParrafo
      b.estudiante #{alumno}
  .cabeceraDatosInfo
    p.cabeceraInfoTitle.borde
      b GRADO: &nbsp;#{grado}
    p.cabeceraInfoTitle.borde
      b SECCI&Oacute;N: &nbsp;&ldquo;#{seccion}&rdquo;
    p.cabeceraInfoTitle
      b DOCENTE: &nbsp; #{docente}
  .cabeceraDatosTextArea
    p.cabeceraTextAreaDescrip
      b SER Y CONVIVIR:
      |  #{serYConvivir}
.contentCabeceraLiterales
  p.literalesTop LEYENDA: &nbsp; &nbsp;E= EXCELENTE
  p.literalesTop B= BIEN
  p.literalesTop RN= REQUIERE NIVELACI&Oacute;N.


//-  Indicadores docentes 29 indicadores max a la hoja principal
.contentIndicadorDocentes
    each general in esto
      .cabeceraAreas
        h3.cabeceraAreaTitle &Aacute;REA: #{general.area}
        h3.cabeceraLiterales E
        h3.cabeceraLiterales B
        h3.cabeceraLiterales.no-borde-right RN
      .contenidoIndicadores
        .rotateParrafo
            p INDICADORES
        .allIndicadores
             each item in general.indicadores
               .contentDescripcion
                    p.descripcion
                        | #{item.indicador}
                    if item.literal === 'E'
                        span.cabeceraLiterales.no-borde-bottom &check;
                        span.cabeceraLiterales.no-borde-bottom  
                        span.cabeceraLiterales.no-borde-bottom
                    else if item.literal === 'B'    
                        span.cabeceraLiterales.no-borde-bottom 
                        span.cabeceraLiterales.no-borde-bottom  &check;
                        span.cabeceraLiterales.no-borde-bottom
                    else 
                        span.cabeceraLiterales.no-borde-bottom 
                        span.cabeceraLiterales.no-borde-bottom  
                        span.cabeceraLiterales.no-borde-bottom &check;





//-   .cabeceraAreas
//-     h3.cabeceraAreaTitle &Aacute;REA: LENGUA Y LITERATURA
//-     h3.cabeceraLiterales E
//-     h3.cabeceraLiterales B
//-     h3.cabeceraLiterales.no-borde-right RN
//-   .contenidoIndicadores
//-     .rotateParrafo
//-       p INDICADORES
//-     .allIndicadores
      .contentDescripcion
        p.descripcion
          | Identific&oacute; de manera acorde los signos de puntuaci&oacute;n tales como: el punto, los dos puntos, la coma, las comillas, signos de interrogaci&oacute;n, signos de admiraci&oacute;n.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Comprendi&oacute; y estableci&oacute; comparaciones entre la silaba t&oacute;nica y &aacute;tona.
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right &check;
      .contentDescripcion
        p.descripcion
          | Distingui&oacute; las palabras que llevan acento ortogr&aacute;fico.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Subray&oacute; y utiliz&oacute; eficazmente el acento pros&oacute;dico.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Con ayuda de ejemplos diferenci&oacute; las reglas del hiato con la del diptongo y triptongo.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Separ&oacute; correctamente palabras en silabas. Conoci&oacute; cabalmente el nombre seg&uacute;n el n&uacute;mero de silabas: monos&iacute;labas, bis&iacute;labas, tris&iacute;labas, polis&iacute;labas y pentas&iacute;labas.
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Clasific&oacute; las palabras en agudas, graves y esdr&uacute;julas.
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Identific&oacute; apropiadamente los elementos de la oraci&oacute;n: sujeto, verbo y predicado.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Por medio de im&aacute;genes reconoci&oacute; y aplic&oacute; la ampliaci&oacute;n del sujeto.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Evidenci&oacute; en oraciones la ampliaci&oacute;n del predicado
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Conjug&oacute; y complet&oacute; en elaboraci&oacute;n de cuadro los verbos: en pasado, presente y futuro.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | En actividad de completaci&oacute;n clasific&oacute; los art&iacute;culos en determinados e indeterminados.
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Con ayuda de ejemplos resalt&oacute; el sustantivo en cada oraci&oacute;n.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Mostr&oacute; inter&eacute;s por aprender y comparar los adjetivos de los adverbios
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
  
//-   .cabeceraAreas
//-     h3.cabeceraAreaTitle &Aacute;REA: MATEM&Aacute;TICA 
//-     h3.cabeceraLiterales E
//-     h3.cabeceraLiterales B
//-     h3.cabeceraLiterales.no-borde-right RN        modelThreeIndicadores
//-   .contenidoIndicadores
//-     .rotateParrafo
//-       p INDICADORES
//-     .allIndicadores
      .contentDescripcion
        p.descripcion
          | Ubic&oacute; en el cartel de valor posicional cantidades con decimales hasta diezmil&eacute;simas.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Realiz&oacute; descomposici&oacute;n de cantidades con decimales hasta diezmil&eacute;simas
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right &check;
      .contentDescripcion
        p.descripcion
          | Realiz&oacute; lectura y escribi&oacute; correctamente cantidades con decimales hasta diezmil&eacute;simas.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Por medio de im&aacute;genes estableci&oacute; el orden de los n&uacute;meros decimales: mayor a menor o viceversa.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Con ayuda de ejemplos orden&oacute; y resolvi&oacute; de manera posicional las adiciones con decimales.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Orden&oacute; y resolvi&oacute; de manera posicional las sustracciones con decimales.
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Manifest&oacute; de manera oral (audio) los resultados de las tablas de multiplicar.
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Determin&oacute; los elementos de la divisi&oacute;n.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Con material de apoyo desarroll&oacute; el proceso de las divisiones de dos cifras con n&uacute;meros naturales.
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom.no-borde-right
      .contentDescripcion
        p.descripcion
          | Por medio de explicaciones utiliz&oacute; el m&eacute;todo apropiado, seg&uacute;n sea el caso en divisiones de n&uacute;meros con decimales.
        span.cabeceraLiterales.no-borde-bottom
        span.cabeceraLiterales.no-borde-bottom &check;
        span.cabeceraLiterales.no-borde-bottom.no-borde-right


    //- segundo modelo hoja max 34 indicadores 


#IndHojaCompleta.contentIndicadorDocentes
    each model3 in modelThreeIndicadores
        .cabeceraAreas.putBorde
            h3.cabeceraAreaTitle &Aacute;REA: #{model3.area}
            h3.cabeceraSecondModel E
            h3.cabeceraSecondModel B
            h3.cabeceraSecondModel.prueba RN
        .contenidoIndicadores
            .rotateParrafo.bordeLeft
                p INDICADORES
            .allIndicadores
                each value in model3.indicadores
                    .contentDescripcion
                        p.descHojaCompleta
                          | #{value.indicador}
                        if value.literal === 'E'
                            span.cabeceraLiterales.no-borde-bottom &check;
                            span.cabeceraLiterales.no-borde-bottom  
                            span.cabeceraLiterales.no-borde-bottom
                        else if value.literal === 'B'    
                            span.cabeceraLiterales.no-borde-bottom 
                            span.cabeceraLiterales.no-borde-bottom  &check;
                            span.cabeceraLiterales.no-borde-bottom
                        else 
                            span.cabeceraLiterales.no-borde-bottom 
                            span.cabeceraLiterales.no-borde-bottom  
                            span.cabeceraLiterales.no-borde-bottom &check;
if prueba.length > 14
    #IndHojaCompleta.contentIndicadorDocentes
        each model3 in modelThreeIndicadores 
            .cabeceraAreas.putBorde
                h3.cabeceraAreaTitle &Aacute;REA: #{model3.area}
                h3.cabeceraSecondModel E
                h3.cabeceraSecondModel B
                h3.cabeceraSecondModel.prueba RN
            .contenidoIndicadores
                .rotateParrafo.bordeLeft
                    p INDICADORES
                .allIndicadores
                    each value in model3.indicadores 
                        .contentDescripcion
                            p.descHojaCompleta
                              | #{value.indicador}
                            if value.literal === 'E'
                                span.cabeceraLiterales.no-borde-bottom &check;
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom
                            else if value.literal === 'B'    
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  &check;
                                span.cabeceraLiterales.no-borde-bottom
                            else 
                                span.cabeceraLiterales.no-borde-bottom 
                                span.cabeceraLiterales.no-borde-bottom  
                                span.cabeceraLiterales.no-borde-bottom &check;
                      
       
    
  

     

//- Segundo modelo    repetirlo dos veces, la segunda evaluar con condicion
.SecondModel
  .apreciacion
    p.msg1
      b Apreciaci&oacute;n de la docente:
      |  seguir manteniendo comunicaci&oacute;n regular entre el hogar y la escuela.
    p.msg2
      | &ldquo;Estoy orgullosa de ti y de tus logros, no olvides que las excelentes personas como t&uacute; germinan en el coraz&oacute;n, crecen d&iacute;a a d&iacute;a en el alma y pase lo que pase jam&aacute;s se olvidan.&rdquo;
  .contentImgStartStudent
    img.imgStartStudent(src='https://www.imageneseducativas.com/wp-content/uploads/2020/04/Stickers-Para-corregir-las-tareas-online-20.jpeg' alt='imagenBoleta')
  .contentEspecialidades
    h2.titleEspecialidades ESPECIALIDADES
    each value in especialistas
        .cuerpoDescripcion
            .nombreEspecialidad
                p.area &Aacute;REA
                p.tipo #{value.area}
            .contentDesc
                p.descIndEspecialista
                  | #{value.indicador}




    //- .cuerpoDescripcion
    //-   .nombreEspecialidad
    //-     p.area &Aacute;REA
    //-     p.tipo INGL&Eacute;S
    //-   .contentDesc
    //-     p.descIndEspecialista
    //-       | El estudiante logr&oacute; alcanzar en su totalidad las competencias del &aacute;rea de formaci&oacute;n ingl&eacute;s en este segundo momento, demostr&oacute; manejo adecuado en el referente n&deg; 1 (FAMILY) &ldquo;la familia&rdquo; estudiando el vocabulario y pronunciaci&oacute;n de cada uno de sus miembros en ingl&eacute;s, us&oacute; correctamente el tema n&deg; 2 (WHO IS WHO/ &iquest;QUIEN ES QUIEN?), adivinanzas con preguntas relacionadas a los miembros de la familia; as&iacute; mismo reconoce los nombres de los problemas de salud m&aacute;s comunes en ingl&eacute;s (HEALTH PROBLEMS) usando los verbos &ldquo;HAVE= TENER Y FEEL= SENTIR&rdquo; para expresar su estados de salud; del mismo modo hizo uso notable del vocabulario relacionado con las estaciones del a&ntilde;o en ingl&eacute;s (SEASONS) con un desempe&ntilde;o sobresaliente en la adquisici&oacute;n del idioma en estos temas. El acompa&ntilde;amiento de los padres ha sido fundamental en este proceso de educaci&oacute;n a distancia para la entrega responsable de todas actividades y orientaci&oacute;n de las mismas.
       
    //- .cuerpoDescripcion
    //-   .nombreEspecialidad
    //-     p.area &Aacute;REA
    //-     p.tipo M&Uacute;SICA
    //-   .contentDesc
    //-     p.descIndEspecialista
    //-       | El estudiante durante el segundo momento realiz&oacute; de manera &oacute;ptima las actividades planificadas en el &aacute;rea de m&uacute;sica, reconociendo cualidades importantes de la m&uacute;sica como: el sonido, melod&iacute;a, ritmo, y lenguaje musical; adicionalmente identifica la estructura de un comp&aacute;s y sus tipos, de igual manera reconoce personajes musicales venezolanos como Aldemaro Romero, mostrando inter&eacute;s en cumplir con todas las actividades asignadas a distancia.
    
    //- .cuerpoDescripcion
    //-   .nombreEspecialidad
    //-     p.area &Aacute;REA
    //-     p.tipo M&Uacute;SICA
    //-   .contentDesc
    //-     p.descIndEspecialista
    //-       | El estudiante durante el segundo momento realiz&oacute; de manera &oacute;ptima las actividades planificadas en el &aacute;rea de m&uacute;sica, reconociendo cualidades importantes de la m&uacute;sica como: el sonido, melod&iacute;a, ritmo, y lenguaje musical; adicionalmente identifica la estructura de un comp&aacute;s y sus tipos, de igual manera reconoce personajes musicales venezolanos como Aldemaro Romero, mostrando inter&eacute;s en cumplir con todas las actividades asignadas a distancia.
    //- .cuerpoDescripcion
    //-   .nombreEspecialidad
    //-     p.area &Aacute;REA
    //-     p.tipo FRANC&Eacute;S
    //-   .contentDesc
    //-     p.descIndEspecialista
    //-       | Durante el segundo momento el estudiante logr&oacute; alcanzar en su totalidad las competencias requeridas por la especialidad, identificando el vocabulario de las frutas y las legumbres en franc&eacute;s, mediante ejercicios de completaci&oacute;n realizo conversaciones con saludos y despedidas as&iacute; como tambi&eacute;n mediante actividades l&uacute;dicas identifico profesiones u oficios, expresando su deseo en el futuro, con ayuda de recortes logro expresar de manera escrita la descripci&oacute;n f&iacute;sica de personas, cumpliendo en su totalidad con las actividades de refuerzo de los contenidos trabajados.
    //- .cuerpoDescripcion
    //-   .nombreEspecialidad
    //-     p.area &Aacute;REA
    //-     p.tipo EDUCACI&Oacute;N F&Iacute;SICA, DEPORTE Y RECREACI&Oacute;N
    //-   .contentDesc
    //-     p.descIndEspecialista
    //-       | Realiz&oacute; el trabajo del f&uacute;tbol, cumpliendo con todas las pautas indicadas, adem&aacute;s aplic&oacute; sus habilidades con ejercicios sencillos de pase, recepci&oacute;n y conducci&oacute;n.



//-  Firmas del personal
#footer
  .firmaModel.bajar
    p.firmaBorde.top #{directora}
    p.firmaMargin Directora
  .firmaCenter
    p.firmaCenterDocente.top Docente
    p.firmaCenterPadre.top Representante
  .firmaModel.bajar
    p.firmaBorde.top
      | #{coordinadoraFirma}
    p.firmaMargin
      | Coordinadora Pedag&oacute;gica